@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
img{
    width: 100%;
}
/* Színek: https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */
body{
    background-color: rgb(142, 202, 230);
    font-family: 'Quicksand', sans-serif;
}
header{
    height: min(25rem, 40vw);
    background: url("../img/bg-header.jpg") fixed no-repeat;
    background-size: cover;
}

nav{
    padding: .5rem 5%;
    margin: 0 auto;
}

nav:nth-child(2), nav:nth-child(3){
    display: flex;
    justify-content: space-between;
}

nav:nth-child(3) {
    background-color: rgb(33, 158, 188);
}
nav a{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    padding: .5rem;
}
nav:nth-child(3) a:hover{
    background-color: rgba(100,100,100,.5);
}
nav:nth-child(3) ul{
    display: flex;
}

.good, .regist{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}
.good>div{
    border-left: 2px solid rgb(255, 183, 3);
    padding-left: .5rem;
}
.regist h3:nth-child(2){
    border-left: 2px solid rgb(255, 183, 3);
    padding-left: .5rem;
}

nav:nth-child(3) ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav:nth-child(3) a{
    color: #000;
    text-decoration: none;
}
